*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
.btn{
    padding: 1rem 2.8rem;
    border: none;
    background:#004badff ;
    color: #fff;
    font-size: 1.3rem;
    border-radius: 10px;
    transition:.4s;
}
.btn:hover{
    background: rgba(56, 107, 175, 0.966)
}
img{
    width: 100%;
    height: 100%;
}
.container{
   max-width: 80%;
   margin:0 auto;
}
/* -----------hero-------- */

.hero{
  display: flex;
  flex-direction: column;
}
header{
    background: #fff;
    padding: 1.30rem 0;
    position:sticky ;
    top: 0;
    right: 0;
    left: 0;
    z-index: 50;
}
.hero header .menu{
display: flex;
align-items: center;
justify-content: space-between;

}
.hero header .menu .logo a{
    text-decoration: none;
    color: #222;
}
.hero header .menu .logo h2{
   font-size: 2rem;
   cursor: pointer; 
}
.hero header .menu .logo h2 span{
    color: #004badff;
}
.hero header .menu ul{
    display: flex;
    align-items: center;
    gap: 27px;
}
.hero header .menu ul li{
  list-style: none;
}
.hero header .menu ul li .btn a{
    color: #fff;
    text-decoration: none;
}
.hero header .menu ul li .btn a:hover{
    color: #fff;
}
.hero header .menu ul li a{
    color: #333;
    text-decoration:none;
    font-weight: 600;
    font-size: 1.2rem;
    transition: .5s;
}
.hero header .menu ul li a:hover{
    color: #004badff;
}
.humbergar{
    display: none;
}
.humbergar i{
    display: none;
    font-size: 1.55rem;
}
header .desck-top{
    display: none;
}
.hero .bunner{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("/american-public-power-association-513dBrMJ_5w-unsplash.jpg");
  background-size: cover;
  background-position: center;
  /* margin-bottom: 5rem; */
}

.hero .bunner .text{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: self-start;
    margin-top: 10%;
    color: white;
}
.hero .bunner .text h2{
    font-size: 5rem;
}
.hero .bunner .text span{
    color: #004badff;
}
.hero .bunner .text p{
    line-height: 24px;
    font-size: 1.2rem;
}
.hero .bunner div .btn{
    margin-top: 3rem;
}
.hero .bunner div .btn a{
    color: #fff;
    text-decoration: none;
}
.services{
    padding: 4rem 0;
}
.services .container .coloms{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 1.77rem;
}
.ciwaan{
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}
 .ciwaan h2{
  color: #004badff;
  font-size: 3rem;
}
.services .container .coloms .colom{
   padding: 4rem 1.6rem ;
   /* box-shadow: 1px 1px 6px rgb(0, 0, 0.1); */
   background: #f2f2f2ff;
   border-radius: 10px;
}
.services .container .coloms .colom h2{
    text-align: center;
    margin-bottom: 1.55rem;
    font-size: 2rem;
}
.services .container .coloms .colom ul li{
    margin: 5px 0;
    line-height: 25px;
}
.top-rated{
    padding: 4rem 0;
}
.top-rated .container .coloms{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  align-items: center;
}
.top-rated .container .ciwaan{
   display: flex;
   justify-content: start;
   color: #222;
}
.top-rated .container .ciwaan h2{
    color: black;
}
.top-rated .container .ciwaan h2 i{
    color: orange;
}
.top-rated .container .coloms .colom{
    height: 440px;
    padding: 20px;
  border: 0.1px solid rgb(189, 187, 187);
  border-radius: 10px;
  position: relative;
  align-items: center;
  display: flex;
}
.top-rated .container .coloms .colom img{
    height: auto;
}
.top-rated .container .coloms .colom .layer{
    position: absolute;
    height: 0%;
    left: 0;
    bottom: 0;
    background: linear-gradient(rgba(21, 133, 198, 0.1),rgba(12, 106, 200, 0.885));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    transition: .5s;
    width: 100%;
}
.top-rated .container .coloms .colom .layer h3{
    font-size: 2rem;
}
.top-rated .container .coloms .colom:hover .layer{
    height: 100%;
}
.solar-irrigation{
    padding: 5rem 0;
    background: #f7f7f7ff;
}
.solar-irrigation .container .ciwaan {
    display: flex;
   justify-content: start;
}
.solar-irrigation .container .ciwaan h2{
    color: #000;
}
.solar-irrigation .container .content{
 display: grid;
 grid-template-columns: repeat(2,1fr);
 gap: 2rem;
}
.solar-irrigation .container .content .img img{
    border-radius: 15px;
}
.solar-irrigation .container .content .faalo{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.solar-irrigation .container .content .faalo h2{
    font-size: 3rem;
}
.solar-irrigation .container .content .faalo p{
    font-size: 17px;
    line-height: 25px;
    color: #333;
}
.solar-irrigation .container .content .faalo div .btn a{
    color: white;
    text-decoration: none;
}

.places{
    padding: 5rem 0;
}
.places .container {
    width: 70%;
}
.places .container .content2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    grid-template-rows: 1fr;
    grid-row: 2rem;
}
.places .container .content2 .top img{
    border-radius: 10px;
}

.places .container .content2 .bottom{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;

    /* grid-template-rows:1fr; */

}
.places .container .content2 .bottom img{
    border-radius: 10px;
    transition: .5s;
}
.places .container .content2 .bottom div img:hover{
    transform: scale(1.05);
}
.places .container .content2 .bottom .img-bottom{
    grid-column:1/ span 2;
}
iframe{
    height: 100%;
    width: 100%;
    border-radius: 10px;

}
.qoraal{
    padding: 1rem 0;
}
.qoraal .container{
    width: 70%;
}
.qoraal .container .content3{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
.qoraal .container .content3 .div-1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}
.bx-notepad{
    font-size: 3rem;
    color: #000;
    padding: 1rem 0;
}
.qoraal .container .content3 .div-1 div p{
    font-size: 16px;
    color: #555;
    line-height: 25px;
}
.qoraal .container .content3 .div-2{
    max-width:60%;
}
.qoraal .container .content3 .div-2 p{
    font-size: 16px;
    color: #555;
    line-height: 25px;
    text-align: center;
}


/* ------------------about------------- */
.about{
    padding-top: 4rem ;
    background: #212121ff;
    color: rgb(182, 175, 175);
    margin-top: 2rem;
}
.about .container .content4{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
}

.about .container .content4 .col-1{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* text-align: center; */
}
.about .container .content4 .col-1 h2{
    /* font-size: 2rem; */
    /* margin-bottom: 10px; */
    color: #fff;
}
.about .container .content4 .col-1 i{
    font-size: 1.1rem;
}
.about .container .content4 .col-2{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.about .container .content4 .col-2 h2{
    color: #fff;
}
.about .container .content4 .col-2 ul li {
    font-size: 1.1rem;
    list-style: none;
}
.about .container .content4 .col-2 ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.about .container .content4 .col-3 h2{
    color: #fff;
    margin-bottom: 1rem;
}
.about .container .content4 .col-3 form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.about .container .content4 .col-3 form input{
    background: transparent;
    border: none;
    border: solid 2px grey;
    padding: 16px;
    color: white;
    font-size: 1rem;
    border-radius: 10px;

}
input:focus{
    outline: none;
}
.about .container .content4 .col-3 form textarea{
    background: transparent;
    border: none;
    border: solid 2px grey;
    padding: 10px;
    color: white;
    font-size: 1rem;
    border-radius: 10px;

}
.about .container .content4 .col-3 form div .btn a{
    color: white;
    text-decoration: none;
 
}
footer{
    display: flex;
    flex-direction: column;
    height: 7rem;
    padding: 10px;
    border-top: 2px solid rgba(99, 97, 97, 0.531);
    justify-content: center;
    align-items: center;
    gap: 10PX;
    margin-top: 2rem;
}
footer img{
    width: 300px;
    height: auto;
}








@media (max-width:900px){
    .container{
        max-width: 89%;
    }
    .places .container {
        width: 89%;
    }
    .humbergar{
        display: block;
    }
    .humbergar i{
        display: block;
    }
.hero header .menu .logo h2{
  font-size: 1.44rem;
}
    .hero header .menu .mobile{
        display: none;
    }
    header .desck-top{
    display: block;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    transition: transfrom .5s;
    }
    header .desck-top ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding-bottom: 1.5rem;
    }
    header .desck-top ul li{
        list-style: none;
    }
    header .desck-top ul li .btn a{
        color: #fff;
    }
    header .desck-top ul li a{
        text-decoration:none ;
        color: #222;
        transition: .5s;
    }
    header .desck-top ul li a:hover{
        color: #004badff;
    }
    .desck-top[data-visible="false"]{
        display: none;
 }
 .humbergar i[data-visible="true"]{
    display: block;
}

.humbergar i[data-visible="false"]{
    display: none;

}
.hero .bunner .text h2{
    font-size: 3rem;
}
.hero .bunner .text p{
    line-height: 20px;
    font-size: 1rem;
}
.hero .bunner .text{
    margin-top: 17%;
}
.services .container .coloms{
    grid-template-columns: repeat(2, 1fr);
}
.services .container .coloms .colom h2{
    font-size: 1.55rem;
}
.services .container .coloms .colom ul li{
    font-size: 1rem;
  }
.top-rated .container .coloms{
    grid-template-columns: repeat(2, 1fr);
}
.solar-irrigation .container .content .faalo p{
    font-size: 15px;
    line-height: 20px;
}
.solar-irrigation .container .content .faalo h2{
    font-size: 2rem;
}

} 

@media (max-width:640px){
  
    .hero .bunner .text{
        /* margin-top: 18%; */
    }
    .hero .bunner .text p{
        line-height: 20px;
        font-size: 14px;
    }
    .hero .bunner .text h2{
        font-size: 2rem;
    }
    .hero .bunner .text{
        gap: 10px;
    }
    .services .container .coloms{
        grid-template-columns:1fr;
    }
    .top-rated .container .coloms{
        grid-template-columns:  1fr;
    }
    .top-rated .container .ciwaan h2{
        font-size: 2rem;
    }
    .solar-irrigation .container .content{
        grid-template-columns: 1fr;
    
       }
       .places .container .content2{
        grid-template-columns: 1fr;
       }
       .places .container .content2 .top{
        height: 300px;
       }
       .qoraal .container .content3 .div-1{
        grid-template-columns:1fr;
        
    }
    .qoraal .container .content3 .div-2 p{
        text-align: start;
    }
    .qoraal .container .content3 .div-2{
        max-width:100%;
    }
    .about .container .content4{
        grid-template-columns:1fr;
    }

}